<div class="row justify-content-center mt-3" *ngIf = "character$ | async as character">
    <div class="col-xs-12 col-sm-6 col-md-6 justify-content-center">
        <div class="card">
            <div class="image">
                <img [src]="character.image" [alt]="character.name" class="card-img-top">
            </div>
            <div class="card-inner">
                <div class="header">
                    <a [routerLink]="['/character-details', character.id]">
                        <h2>{{character.name}}</h2>
                    </a>
                    <h6 class="text-muted">Gender: <strong>{{character.gender}}</strong></h6>
                    <h6 class="text-muted">Status: <strong>{{character.status}}</strong></h6>
                    <h6 class="text-muted">Specie: <strong>{{character.species}}</strong></h6>
                    <h6 class="text-muted">Last location: <strong>{{character.location.name}}</strong></h6>
                    <h6 class="text-muted">Last location url: <strong>{{character.location.url}}</strong></h6>
                    <h6 class="text-muted">Date created: <strong>{{character.created | date}}</strong></h6>
                    <h6 class="text-muted">Episodes List: <li>{{character.episode}}</li></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<button [routerLink]="['/home']" class="btn btn-dark btn-lg mt-3">
    Back
</button>